<div class="col-12 text-center">
  <h1>Blacklist</h1>
</div>

<div class="container">
  <div class="col-12">
    <div class="row">  
      <%= render "blacklist_post" %>
    </div>
  </div>
</div>

<div class="col-12 text-center">
  <%= link_to 'Add new user', new_blacklist_path , :class => 'btn btn-info'%>
</div>
<div class="col-12">
  <br>
</div>