<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Location</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="col-12">
          <%= render :template => 'devise/registrations/_location', :locals => {
            resource: @user,
            resource_name: @user,
            first_name: @user.first_name,
            last_name: @user.last_name, 
            picture: @user.picture, 
            email: @user.email,
          } %>
          
		    </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>