<div class="col-12 text-center">
	<h1>New Admin</h1><br>
</div>
<div class="col-12">
	<%= render 'form', admin: @admin %><br>
</div>

<div class="col-12 text-center">
	<%= link_to 'Back', admins_path %><br>
</div>