<% @posts.each do |post| %>
	<div class="col-sm-6">
		<div class="col-12"><br></div>
		<div class="container border border-primary">
			<div class="col-12"><br></div>
			<div class="row">
			    <div class="col-2"> 
			    	<figure class="figure">
			    		 <%= image_tag User.where(id: post.user_id )[0].picture.medium.url, class: 'figure-img img-fluid rounded'%>
			    	</figure>   
			    </div>
			    <div class="col-10">
			      <div class="col-12 card-title">
			        <h4><%= post.title %></h4>
			      </div>
			      <div class="col-12">
			        <%= User.where(id: post.user_id )[0].email %>
			      </div>
			      <div class="col-12">
			              
			      </div>
			      <div class="col-12">
			      	<br>
			        <%= post.text %>
			      </div>
			      <div class="col-12">
			      	<div class="row">
				        <div class="col-6"></div>
				        <div class="col-1">
				        	<button class="btn my-2 my-sm-0" type="submit">
				        		<i class="fa fa-thumbs-up fa-stack-2x"></i>
				        	</button>
				        </div>
				        <div class="col-1"></div>
				        <div class="col-1">
				        	<button class="btn my-2 my-sm-0" type="submit">
				        		<i class="fa fa-commenting fa-stack-2x"></i>
				        	</button>
				        </div>
				        <div class="col-1"></div>
				        <div class="col-1">
				        	<button class="btn my-2 my-sm-0" type="submit">
				        		<i class="fa fa-exclamation-triangle fa-stack-2x"></i>
				        	</button>
				        </div>
				        <div class="col-1"></div>
			      	</div>
			      </div>
			    </div>
			</div>
			<div class="col-12"><br></div>
	  	</div>
	  	<div class="col-12"><br></div>
	</div>

<% end %>